/* ===== VARIABLES ===== */

$color-primary: #5be132;
$color-secondary: #ef937e;
$color-text: #1d1323;

$font-base: 'Inter', Arial, sans-serif;

$spacing: 16px;
$radius: 8px;

$shadow: 0 2px 6px rgba(0, 0, 0, 0.1);